@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply mb-5 block;
}
.dropdown-link {
  @apply flex p-4 hover:bg-gray-200 w-full;
}
.alert-success {
  @apply bg-green-100 my-2 text-sm  rounded-sm p-2 text-green-600;
}
.alert-error {
  @apply bg-red-100 my-2 text-sm rounded-sm p-2 text-red-600;
}
.menu {
  z-index: 999;
}
@layer base {
  html {
    font-family: 'Lato', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f3f4f7;
  }

  ::-webkit-scrollbar-thumb {
    background: #5a7087;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #415162;
  }
}
.secondary-button {
  @apply bg-[#f3f5f7] text-[#495b6e] hover:text-[#080a0c];
}
